* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.container {
  height: 100vh;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.background-section {
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.section-one {
  background-image: url(../assets/purlpe-background001.jpg);
}

.section-two {
  background-image: url(../assets/black-background001.jpg);
}

h3 {
  color: #000;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 18px;
  text-align: center;
}

.logo {
  height: 50%;
  width: 50%;
}

.card-container {
  max-width: 400px;
  background-color: rgba(243, 224, 115, 0.945);
  border-radius: 25px;
  padding: 25px;
}

form {
  display: grid;
}

.input {
  display: flex;
  line-height: 25px;
  padding: 5px;
  margin-top: 5px;
  border: 1px solid;
  border-radius: 5px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.input-submit {
  display: flex;
  line-height: 25px;
  padding: 3px 10px 3px 10px;
  margin-top: 5px;
  border: 1px solid;
  border-radius: 5px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

p {
  text-align: center;
  font-weight: bold;
  padding: 10px;
}

footer {
  height: 100px;
  padding: 25px;
  justify-content: center;
  text-align: center;
  background-color: #000;
  color: #fff;
}
